.row{ margin: 0px; }

p{ margin: 0px; line-height: 1.3em; }

header{ background: #6D6E70; max-width: 100%; padding: 20px 60px 10px; text-align: center; }

header img{ max-width: 100%; }

.color-bar{ max-width: 100%; margin: 0px auto; }

.color-bar .blue{ background: #3DA6CC; }
.color-bar .orange{ background: #EA8129; }
.color-bar .green{ background: #80BA46; }
.color-bar .pink{ background: #E34B5F; }

.color-bar > div{ min-height: 25px; }

.main-content{ padding: 10px 0px; max-width: 100%; }

h1{ font-size: 2em; }

#participants { clear: both; margin-top: 15px; }

.below-content{ padding: 5px 0px 10px; }

.below-content .result{ padding-top: 5px; }

.no-left-pad{ padding-left: 0px; padding-top: 13px; }

.no-left-pad p{ font-size: 16px; line-height: 1.4em; }

.row.profile-questions { padding: 25px 15px 0; }

/*nav .nav { padding: 10px 0 0 10px; }*/

nav .nav { margin-left: 12px; padding-top: 10px; }

nav .nav li{ font-size: 12px; float: left; margin-left: 20px; }

nav .nav li a:focus, nav .nav li a:hover{ background: none; }

.no-l-pad{ padding-left: 0px; }

.navbar-nav > li > a{ padding: 10px 0px; outline: none; }

#participants .col-xs-4 > a {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.details-page .main-content {
    margin: 0 auto;
    max-width: 350px;
    padding: 10px 0;
}